node_modules/
debug/
logs/
*.log
config/config.json
test/
database*.sqlite
replay.osr
files/maps/
*.js
config/osuauth.json
previous/
files/tempdiff.osu
*copy.ts
files/bin
files/songs
debug.json
trackingFiles/
log.txt
cache/
*.traineddata
id.txt
servers.txt
channels*.txt
users*.txt
dist/
1_*
*.json
!tsconfig.json
!config/tempconfig.json