node_modules/
debug/
logs/
config/
*.log
config/config.json
test/
*.sqlite
replay.osr
files/maps/
*.js
config/osuauth.json
previous/
files/tempdiff.osu
*copy.ts
files/bin
files/songs
debug.json
trackingFiles/
log.txt
cache/
*.traineddata
id.txt
