html {
    scroll-behavior: smooth;
}

body {
    /* background-image: url(./docbg.jpg); */
    /* background-image: linear-gradient(#FF006E, #FF6A00); */
    background-image: linear-gradient(rgb(65, 88, 132), rgb(113, 108, 121));
    background-repeat: initial;
    background-attachment: fixed;
    background-size: fill;
    color: white;
}

.bodyoverlay {
    background: rgba(22, 22, 22, 1);
}

.ultitle {
    list-style-type: none;
    /* top: -1px; */
    /* left: 0px; */
    /* max-width: 100%; */
    /* width: 100%; */
    margin-right: 0;
    margin-left: 0;
    padding: 0;
    /* position: fixed; */
    display: flex;
    justify-content: center;
}

/* .nBar {
    background-color: rgb(51, 68, 101);
    color: #cccccc;
    overflow: hidden;
    box-shadow: 3px 6px 15px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
} */

.codeblock {
    float: inline-start;
    background-color: rgb(66, 72, 75);
    margin-right: 0.5em;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
    font-family: 'Consolas';
    font-weight: bolder;
    color: #99ff00;
}

.surround {
    float: inline-start;
    color: rgb(226, 223, 219);
    background-color: rgba(66, 72, 75, 0.5);
    margin-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.titlenav {
    font-size: xx-large;
}

.cmdnav {
    font-size: medium;
}

main {
    background-color: #252525;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #000000;
}

li {
    list-style-position: inside;
}

.inlineCodeblock {
    font-family: 'Consolas';
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
    padding: 0 0.15em;
    color: #C3E88D;
}