* {
    overflow: hidden;
}
html {
    scroll-behavior: smooth;
}

.spaceForNav {
    padding-top: 12px;
    /* padding-bottom: 100px; */
}

.titlenav {
    font-size: xx-large;
}

.cmdnav {
    font-size: medium;
}

.divSubheading {
    display: flex;
    flex: content;
    justify-content: center;
    font-size: 24px;
}

.divCommandDetailsList {
    font-family: 'Ubuntu';
    font-weight: bolder;
    padding: 20px;
}

.divCommandName {
    margin-left: 3%;
    justify-content: left;
}

.divCommandDetails {
    img {
        width: 100px;
        height: 100px;
    }
}

summary {
    font-size: 24px;
    list-style: none;
}

summary:hover {
    color: black;
}


p {
    font-size: 16px;
}

pre {
    font-size: 16px;
}

/* details {
    overscroll-behavior: smooth;
} */

.extxt {
    color: rgb(226, 223, 219);
    background-color: rgb(66, 72, 75);
    border-radius: 5px;
    font-family: 'Consolas';
    font-weight: bolder;
    padding-right: 5px;
    padding-left: 5px;
}

.exdesc {
    font-family: 'Ubuntu';
    word-wrap: break-word;
}

.cmdexample {
    border: rgba(0, 0, 0, 0.50);

    td:nth-child(1) {
        width: 50%;
    }
}

.fullClear {
    margin-bottom: 75px;
    clear: both;
}

.table {
    background-color: rgb(45, 49, 51);
    padding: 2%;
    border-radius: 5px;
    font-size: 16px;
    table-layout: fixed;
    width: 100%;
    td:nth-child(1) {
        font-weight: 1000;
        text-align: center;
        color: #ff9100;
    }
    td {
        border: 1px solid #d8d8d8;
        padding: 10px;
        width: 5%;
        word-wrap: normal;
        border-radius: 2px;
        font-family: 'Consolas';
        font-weight: 500;
    }

    tr:first-child td {
        font-weight: 1000;
        text-align: center;
        color: #ffff00
    }
}

.tableBG {
    background-color: rgba(50, 50, 50, 0.5);
    margin-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 15px;
}

tr {
    border: 1px solid #ffffff;
    padding: 0px;
}

th {
    max-width: 175px;
    min-width: 175px;
    word-wrap: break-word;
}

.tdOpts {
    border: 1px solid #d8d8d8;
    padding: 10px;
    width: 5%;
    word-wrap: normal;
    border-radius: 2px;
    font-family: 'Consolas';
    font-weight: bolder;
}

.tdEx {
    border: 1px solid #d8d8d8;
    border: none;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.tdTypes {
    border: 1px solid #ffffff;
    padding: 10px;
}

.title {
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    padding: 10px;
    border-radius: 5px;
}

.bodytype {
    background-color: #252525;
    margin-left: 3%;
    margin-right: 3%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: #000000;
    z-index: 98;
}

.command details {
    background-color: rgba(49, 49, 49, 0.5);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    z-index: 99;
    user-select: none;
}

.command details[open] {
    background-color: rgba(75, 75, 75, 0.5);
    /* margin-left: 3%; */
    /* margin-right: 3%; */
    /* margin-top: 10px; */
    /* margin-bottom: 10px; */
    /* padding: 10px; */
    border-radius: 5px;
    z-index: 99;
}

.command details:hover {
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    z-index: 99;
}

.command details[open]:hover {
    background-color: rgba(75, 75, 75, 0.5);
}

.commandButton {
    background-color: rgba(49, 49, 49, 0.5);
    color: white;
    margin: 10px 3%;
    padding: 10px;
    border-radius: 5px;
    z-index: 99;
}

.commandButton:hover {
    background-color: #4c93af80;
    color: #4c93af;
}

.commandSelected {
    background-color: #4caf5080;
    color: #4CAF50;
}

#commandDisplay {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 15px;
    /* grid-auto-flow: row; */
    grid-template-areas: ". .";
    overflow-y: hidden;
    height: 54.5vh;
}

#commandSelector {
    background-color: #161616;
    border-radius: 5px;
    /* float: left; */
    max-width: 50vw;
    width: max-content;
    clear: none;
    padding-left: 15px;
    overflow-y: auto;
    height: 100%;
}

#commandDetails {
    background-color: #161616;
    border-radius: 5px;
    display: block;
    clear: none;
    float: right;
    padding: 2%;
    overflow: auto;
    height: 100%;
}